CPU Architecture:

    - Input -> Processing -> output  
    - Processing UNIT -  ALU-CU

##### User input and output

In [18]:
x = int(float(input("Enter some value")))
print(type(x))
print(x)

# input and output are from console
# output - > print()
# print function -> print()

# input -> str
# str -> float() -> float
# float -> int() -> int

<class 'int'>
3

##### Operations

Operators
1. Binary -> two operands and one operator
2. Uniary -> one operand and one operator

In [83]:
# Arthematic

a = 10
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

15
5
50
2.0
2
0
100000

In [84]:
## conditonal operators

'''
>
<
==
!=
>=
<=
is 
not is
'''

22

##### Datatypes

syntax :
 a basic structure to write a instruction or block

 1. declare a  variable:
        <variable_name> =  <value/constant>
       
       variable -> that changes
       constant -> that deosnt change

        LHS is always a value to be store
        RHS is a always a value
        Value cannot be on the RHS

- bool

In [27]:
boolean =  True
print(type(boolean))

<class 'bool'>

- int

In [33]:
# -inf to inf
integer = int(-10)
print(type(integer))
print(integer)

<class 'int'>
-10

- float

In [34]:
# -inf to inf
integer = float(-10)
print(type(integer))
print(integer)

<class 'float'>
-10.0

- string

In [53]:
# what is string 
# For collection of works "AANc is right"
# A string is a collection of characters "a", "b","c"
# string is a character array 
# array -> is collection of same datatypes  -> [0,1,2,3 .... n-1]
# array length -> 5 [0,1,2,3,4] array[5]-> index out of bound/range

# declare 
'''
 int c # variable declaration
 ..
 c =10 # variable defination/assignment

'''
string_empty = "" # both declareda and defined empty string
type(string_empty)

# concatenate
#print("saqlian"+"ahmed")
string_some = "zaid"
string_name = "hussain"
#print(string_some+string_name)

string2 = "hello this is my first python class"
# l = list(string)
#string2 = string2.split(" ")
string2
#print(id(string2))
string2 = "helll"
#print(id(string2))

string3 = "zaid hussain"
string3[5:10:-2]

'hsa'

- complex

In [71]:
complexes = 3+4j
print(type(complexes))
complexes.real
complexes.imag

<class 'complex'>

4.0

- list

In [35]:
# list is similar to array but it is hetrog'
# 
# how emoty list is declared
list1 = []
list2 = [123,"zaid","hussain",3.44]

# concatination
#list1 = list1 + list2


#number of elements in a list
len(list2)

#accessing individual elements
list2[1]

# list slicing
list2[3:1:-1]
list2[-4:-2]

#mutli dim list
list_dim = [[123,"hello"],
            ["234", "hussain"]]
list_dim[1][1]

list2.append("night")
list2.extend(["342","hello","night"])
list2.insert(2,"CSE")

# reverse a list
list2[::-1]
list2.reverse()
list2.reverse()

list2.remove("night")
list2.pop()
list2

[123, 'zaid', 'CSE', 'hussain', 3.44, '342', 'hello']

In [40]:
#list comprehensions

list3 = [i**2 for i in range(10) if i % 2 == 1 ]
list3

list4 = []
for i in range(10):
    if i % 2 == 1:
        list4.append(i**2)

print(list3,list4)

[1, 9, 25, 49, 81] [1, 9, 25, 49, 81]

- set

In [22]:
set1 = set()
set1.add("a")
set1.add('b')


lists = [1,2,3,4,5,6,6,7,7,8,]
set2 = set(lists)
set3 =  {"zaid", "hussain", "zaid","mpc","inter"}
set4 = {"zaid","hussain", "cvr","cse"}
#setn = set3.union(set4)  # | or .union()
#setn = set3.intersection(set4) # & or .intersection()
#setn = set4.difference(set3) # -  or .differnce()
setn = set4 ^ set3
#setn.clear()
print(setn)

if set3 == set4 :
    print("yes")
else:
    print("no")

{'inter', 'mpc', 'cvr', 'cse'}
no

- tuple

In [45]:
list1 = ["zaid","hussain", "amiunu"]
list1[len(list1)-1] = "zainab"

list1
tuple_list = tuple(list1)

tuple1 = ("zaid","hussain", "amiunu")
#tuple1[len(list1)-1] = "zainab"
tuple2 = ("zaid","zainab", "cmz")

tuplen = tuple1 + tuple2

## nested tuple
#tuplen = (tuple1,tuple2, tuple1)

print(tuplen)
print(tuplen[6:1:-1])
#del tuplen

len(tuplen)


# traversing
# for i in tuple1:
#     print(i, end = " ")

# for i in range(0,len(tuple1)):
#     print(i,tuple1[i])
    
# for index, item in enumerate(tuple1):
#     print(index, item)

('zaid', 'hussain', 'amiunu', 'zaid', 'zainab', 'cmz')
('cmz', 'zainab', 'zaid', 'amiunu')

6

- dictionary

In [86]:
dict1 = {}
dict1[7] = 100
dict1[6] = 100
dict1[3] = 100

#print(dict1)
dict1[3] = 600
dict1

dict2 = {
    1 : "zaid",
    2 : "hussain",
    "new" : 456,
    "new" : "rasheeed" 
}

# concatination of dicts
dict2.update(dict1)


dict2 = {
    1 : "zaid",
    2 : "hussain",
    "new" : 456,
    "new" : "rasheeed" ,
    "dictionary" : {
        1 : 100,
        2: 200,
        3 : 300,
        "inner" : {
            1: 234,
            2: 345
        }
    },
    "list" : [1,2,34,5,5,6],
    "sets" : {1,2,3,3,4,5},
    "tuples" : (1,4,7,9,0)
}

dictn = dict2.copy()
dictn[1] = "zainab"
dictn

{1: 'zainab',
 2: 'hussain',
 'new': 'rasheeed',
 'dictionary': {1: 100, 2: 200, 3: 300, 'inner': {1: 234, 2: 345}},
 'list': [1, 2, 34, 5, 5, 6],
 'sets': {1, 2, 3, 4, 5},
 'tuples': (1, 4, 7, 9, 0)}

In [97]:
#traversing a dictionary

keys = dict2.keys()
list(keys)

[1, 2, 'new', 'dictionary', 'list', 'sets', 'tuples']

In [2]:
list1 = [1,2,3,4,5,6,7]
list2 = [1000,200,300,400,500,600]

dictn = list(zip(list1,list2))
dictn

list4 = ["1","2","3","4","5","6","7"]
#listn = list(map(int,list4))
#listn = [int(i) for i in list4]

def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False
  
  
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
# using filter function
filtered = filter(fun, sequence)
  
print('The filtered letters are:')
for s in filtered:
    print(s)

In [1]:

xyz = lambda arr : sum(arr)
print(xyz([1,2,3,4,5]))

15

##### Conditional Statements

- if and else

In [101]:
'''
syntax -> if <condition1>:
            block
          elif <condition2>:
            block
          else:
            block
'''
a, b, c,d = 6, 6, 1,-1

if (a < b) and (c >= d) :
    print("if exucted")
else:
    print("else block executed")

if exucted

In [98]:
if not (False and True) or (False and True):
    print("if executed")
else:
    print("else exccuted")

else exccuted

- switch

syntax of switch/
match term:
    case pattern-1:
         action-1
    case pattern-2:
         action-2
    case pattern-3:
         action-3
    case _:
        action-default

In [4]:
lang = input("Enter language name")

match lang:
    case "JavaScript":
        print("You can become a web developer.")

    case "Python":
        print("You can become a Data Scientist")

    case "PHP":
        print("You can become a backend developer")
    
    case "Solidity":
        print("You can become a Blockchain developer")

    case "Java":
        print("You can become a mobile app developer")
    case _:
        print("The language doesn't matter, what matters is solving problems.")

The language doesn't matter, what matters is solving problems.

##### Loops

- while

synatx
```
while expression:
    statement(s)
```

In [2]:
count = 0
while (count < 3):   
    count = count + 1
    print("Hello world")

Hello world
Hello world
Hello world

- for

synatx
```
for iterator_var in sequence:
    statements(s)
```

In [3]:
n = 4
for i in range(0, n):
    print(i)

0
1
2
3

##### Functions

- function call
- function defination
- parameters
- python hints or parameter types
- return statement

In [114]:
"""
def <function_name>(<parameters>) -> <return type> : 
    body
    return <object>
"""


def sumofarray(arr:list[int]) -> int:
    return sum(arr)

print(sumofarray([1,2,3,4,5]))

15